.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.vscode
.idea
*.log
*.sqlite3
outputs/
uploads/
.DS_Store
.github
*.md
LICENSE
Procfile
docker-compose.yml
Dockerfile
.dockerignore
